body {
  font-family: sans-serif;
  background: #f7f7f7;
  color: #333;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

header {
  text-align: center;
}

a {
  color: #007acc;
  text-decoration: none;
}
